
<div class="py-5 flex-grow-1">
    <div class="container text-center py-2">
        <h1 class="display-4 mb-4 text-danger text-fusion" >Transform Your Ingredients</h1>
        <p class="lead mb-4 text-fridge-dark">Discover recipes based on what's in your fridge!</p>
        <div class="d-flex gap-3 justify-content-center">
            <a href="/fridge" class="btn btn-lg">What's in your Fridge?</a>
            <a href="/recipes" class="btn btn-lg">What can you make?</a>
        </div>
    </div>
</div>


<div class="bg-white py-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md-4">
                <div class="card h-100 shadow bg-fridge-light">
                    <div class="card-body">
                        <h3 class="text-fridge-dark">Smart Recipes</h3>
                        <p>Find perfect recipes based on the ingredients you already have</p>
                        <a href="/recipes" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow bg-fusion-light card-fusion">
                    <div class="card-body">
                        <h3 class="text-danger text-fusion" >Social Fusion</h3>
                        <p>Collaborate with friends to create group recipes</p>
                        <a href="/fuse" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow bg-fridge-light">
                    <div class="card-body">
                        <h3 class="text-fridge-dark">New Ingredients</h3>
                        <p>Find recipes based on ingredients, even if they are new to us</p>
                        <a href="/fridge" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>