{{>message}}
      <div style="margin:auto">
          <form action="/login" method="POST">
              <h1>Login</h1>
              <div>
                  <label for="username">Username: </label>
                  <input id="username" class="form-control" name="username" placeholder="Enter username" required>
              </div>
              <div>
                  <label for="password">Password: </label>
                  <input id="password" class="form-control" name="password" placeholder="Enter password" required>
              </div>
          
                <button type="submit" class="btn btn-primary">Login</button>
             
          </form>
          <div>
            <p>Need to make an account? <a href="/register">Register</a></p>
        </div>
    </div>