{{>message}}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card rounded-lg">
        <div class="card-header bg-fridge text-white text-center py-3">
          <h3>Sign In</h3>
        </div>
        <div class="card-body p-3">
          <form action="/login" method="POST">
            <div class="mb-2">
              <label for="username" class="form-label small text-muted">Username</label>
              <div class="input-group">
                <input id="username" class="form-control form-control" name="username" placeholder="Enter username" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label small text-muted">Password</label>
              <div class="input-group">
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter password" required>
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-fridge">Sign In</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center py-3 bg-light">
          <p class="mb-0">Need to make an account? <a href="/register" class="text-fridge fw-bold">Register</a></p>
        </div>
      </div>
    </div>
  </div>
</div>