{{>message}}
<div class="container">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card shadown text-center p-4">
                <div class="card-body">
                    <div class="text-fridge mb-3">
                        <i class="bi bi-check-circle-fill fs-1"></i>
                    </div>
                    <h2 class="mb-3">Successfully Logged Out</h2>
                    
                    <div class="d-grid gap-3">
                        <h4>Hungry for more?</h4>
                        <a href="/login" class="btn btn-fridge">
                            <i class="bi bi-box-arrow-in-right me-2"></i>
                            Log Back In
                        </a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>