{{>message}}
<div style="margin: auto">
    <form action="/register" method="POST">
        <h1>Register</h1>
        <div>
            <label for="username">Username: </label>
            <input id="username" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input id="password" class="form-control" name="password" placeholder="Enter password" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</div>