<footer class="text-center text-muted w-100 mt-auto py-3 border-top">
    <!-- we said we didn't want the footer to stick to the bottom of the screen since it reduces visibility -->
  <div class="container">
    <p class="mb-1 text-fridge-dark">
      <strong><span style="font-family: Impact">Fridge</span> <span style="font-family: Apple Chancery">Fusion</span></strong>
    </p>
    <p class="small mb-2"> <!-- thought it'd be nice to have our vision statement here -->
      Saving time and enhancing your creativity in the kitchen.
    </p>
    <div class="d-flex justify-content-center gap-3 small mb-2">
        <!-- this is just here in case we want some about us/repo links within our footer -->
      <a href="/" class="text-muted text-decoration-none">Placeholder</a>
    </div>
    <p class="small mb-0">
        <!--I don't know if we want this honestly cause if we did we'd also need
        res.render('your-template', { 
        currentYear: new Date().getFullYear(),
        // other stuff in route handling
        });
        It's here if we want it.
      <span>&copy; {{currentYear}} Fridge Fusion. All rights reserved.</span> -->
    </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</footer>
</body>
</html>